<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>My Profile</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="currentUser">
    <mat-list>

      <mat-list-item>
        <mat-label>Email:</mat-label>
        <input type="email" name="email" [ngModel]="currentUser.email" matInput placeholder="Ex. pat@example.com" />
      </mat-list-item>
      <mat-list-item>
        <mat-label>Nickname:</mat-label>
        <input type="text" [ngModel]="currentUser.nickname" name="nickname" matInput placeholder="Nickname" />
      </mat-list-item>
      <mat-list-item>
        <mat-label>Country:</mat-label>
        <input type="text" [ngModel]="currentUser.country" name="Country" matInput placeholder="Country" />
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox [ngModel]="currentUser.favurlSubscription" name="favurlSubscription" matInput>Link Subscription from
          Tsahaylu
          Team</mat-checkbox>
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox [ngModel]="currentUser.emailSubscription" name="emailSubscription" matInput>Email Subscription</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
