<mat-card>

  <img class="friendImg" src="{{contactDto.avatarURL}}">

  <div class="middle">
    <span>{{contactDto.nickname}}</span>
  </div>
  <div class="right">
    <div class="action">
      <button>
        <mat-icon>volume_off</mat-icon>
      </button>
      <button>
        <mat-icon>volume_up</mat-icon>
      </button>
      <button>
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
      <button>
        <mat-icon>arrow_left_alt</mat-icon>
      </button>
    </div>
  </div>

</mat-card>
