@charset "utf-8";

/* forget_password CSS */
#main_inner {
    min-height: 0;
    padding: 320px 0;
    background: #D5F0F3;
}

#fwd_box {
    width: 320px;
    height: 200px;
    background: #f2f2f2;
    border-radius: 5px;
    border: 2px #40e3c0 solid;
    margin: 0 auto;
    padding: 10px 30px;
}

#fwd_box h2 {
    font-size: 16px;
    color: #e46c0a;
}

#fwd_box a {
    color: #333;
    float: left;
    line-height: 40px;
}

#fwd_box a:hover {
    color: #f9894e;
    text-decoration: underline;
}

#fwd_box form {
    border-bottom: 1px #e7e7e7 solid;
}

#fwd_box .input_box {
    margin-bottom: 13px;
    padding-top: 20px;
}

#fwd_box .input_box input {
    width: 310px;
    height: 35px;
    border: 1px #aaa solid;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 10px;
    box-shadow: 0px 0px 5px #999 inset;
}

#fwd_box form .submit {
    margin-bottom: 10px;
    width: 100px;
    height: 27px;
    float: right;
}

#fwd_box p {
    border-top: 1px #ccc solid;
    color: rgb(205, 97, 9);
}

.focus {
    border: 1px #eb6621 solid;
    box-shadow: 0px 0px 5px #f9c4a8 inset;
}

.blur {
    border: 1px #aaa solid;
    box-shadow: 0px 0px 5px #999 inset;
}