<mat-sidenav-container>
  <mat-sidenav class="sideNav" opened="true" mode="side">
    <mat-nav-list>
      <a [routerLink]="['/mylist/new']" mat-list-item>
        <mat-icon>archive</mat-icon>New
      </a>
      <a [routerLink]="['/mylist/archive']" mat-list-item>
        <mat-icon>archive</mat-icon>Archive
      </a>
      <a [routerLink]="['/mylist/fav']" mat-list-item>
        <mat-icon>favorite</mat-icon>Favorites
      </a>

      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sideContent">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
