<div class="screen-center">

  <h2>Forgot your password?</h2>
  <form>
    <span>
      Please enter your email and we’ll send you instructions to reset your password.
    </span>
    <div class="input_box">
      <input class="input-line" type="email" autofocus (focusout)="emailCheck()" name="email" [formControl]='email'
        placeholder="Email" />
      <mat-error *ngIf="email.invalid &&(email.dirty ||email.touched)      ">
        <div *ngIf="this.email.errors?.['required']">
          This field is required
        </div>
        <div *ngIf="this.email.errors?.['email']">
          This field must be a valid email address
        </div>
        <div *ngIf="this.email.errors?.['notExsited']">
          User with email : {{email.value}} is not exsited
        </div>
      </mat-error>
    </div>
    <p>
      <input type="button" class="standard-button orange submit" (click)="resetPassword()" value="Submit" />
    </p>
    <p class="text-line">
      <a [routerLink]="['/signup']">Don't have an account? Create one.</a>
    </p>
    <div class="alert alert-success" *ngIf="isSuccessful">Password reset email sent to your email, please check it。
    </div>
  </form>
  <div class="clear"></div>

</div>
