<div class="footer" color="primary">
  <div id="footer_inner">
    <ul class="footer_nav">
      <li><a  [routerLink]="['/help']" >Help</a></li>
      <li><a  [routerLink]="['/contact']" >Contact</a></li>
      <li><a  [routerLink]="['/privacy']" >Privacy</a></li>
      <li style="margin-right: 0"><a [routerLink]="['/about']">About</a></li>
    </ul>
    <div id="follow_us">
      <a  href="https://www.google.com" id="google" target="_blank"><img src="assets/images/google.jpg" class="link" /></a>
      <a   href="https://www.facebook.com" id="facebook" target="_blank"><img src="assets/images/facebook.png" class="link" /></a>
      <a   href="https://twitter.com" id="twitter" target="_blank"><img src="assets/images/twitter.jpg" class="link" /></a>
    </div>
    <p class="rights">2022 All Rights Reserverd</p>
  </div>
</div>
