<div class="screen-fill" id="privacyDiv">
  <p class="headerTitle">Privacy Policy</p>
  <p class="level1Title">What information do we collect?</p>
  <p class="contentBody">
    We collect information from you when you register for our service, fill out a form.
    When registering for our service, you may be asked to enter your e-mail address and we may read your contact list if
    you use google/twitter/facebook account to register.
  </p>
  <p class="level1Title">What do we use your information for?</p>
  <p class="contentBody">Any of the information we collect from you may be used in one of the following ways:
  <p class="contentBody">To personalize your experience</p>
  <p class="contentBody">To improve our service</p>
  <p class="contentBody">To improve customer service</p>
  <p class="level1Title">How do we protect your information?</p>
  <p class="contentBody">
    We implement a variety of security measures to maintain the safety of your personal information when you enter,
    submit, or access your personal information.
  </p>
  <p class="level1Title">Sharing information with Third Parties</p>
  <p class="contentBody">
    We does not sell, rent or lease our customer lists to third parties.
  </p>
  <p class="level1Title">
    We may use Google Analytics to monitor and analyze the use of our Service.
  </p>
  <p class="contentBody">Google Analytics is a web analytics service offered by Google that tracks and reports website
    traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other
    Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising
    network.</p>
  <p class="contentBody">You can opt-out of having made your activity on the Service available to Google Analytics by
    installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js,
    analytics.js, and dc.js) from sharing information with Google Analytics about visits activity.</p>
  <p class="contentBody">For more information on the privacy practices of Google, please visit the Google Privacy &
    Terms web page: https://policies.google.com/privacy?hl=en</p>
  <p class="level1Title">Contacting Us</p>
  <p class="contentBody">
    If there are any questions regarding this privacy policy you may contact us at support@tsahaylu.com.
  </p>
</div>
