<div class="screen-center">
  <h2>Sign in</h2>
  <div>
    <div class="input_box">
      <input class="input-line" type="email" [(ngModel)]="email" autofocus (focusout)="emailCheck()" name="email"
        placeholder="Email" />
    </div>
    <div class="input_box">
      <input class="input-line" type="password" [(ngModel)]="password" name="password" placeholder="Password" />
    </div>
    <p>
      <input type="button" class="standard-button orange submit" (click)="check()" value="Sign in" />
    </p>
    <P class="text-line">
      <a [routerLink]="['/forget']">Forget password?</a>
    </P>
    <p class="text-line">
      <a [routerLink]="['/signup']">Don't have an account? Create one.</a>
    </p>
    <p class="wrong_info" *ngIf="responseShow">{{ responseContent }}</p>
  </div>
  <div id="oauth_login">
    <div class="divider"><span>OR</span></div>
    <ul>
      <li>
        <a class="social-login-link"
          href="http://localhost:8080/oauth2/authorization/google?redirect_uri=http://localhost:4200/login">
          <img class="social-login-img" src="assets/images/google.png" />
          <span class="social-login-text">Continue with Google</span></a>
      </li>
      <li>
        <a class="social-login-link"
          href="http://localhost:8080/oauth2/authorization/facebook?redirect_uri=http://localhost:4200/login">
          <img class="social-login-img" src="assets/images/facebook.png" />
          <span class="social-login-text">Continue with Facebook</span></a>
      </li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
